.idea/*
*.pyc
*.log.*
*.log*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
.idea/

# Log files:
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Custom added for autoextraction
config/__pycache__
instance/__pycache__
kafka_utils/__pycache__
logs
services/__pycache__
services/__pycache__
validators/__pycache__
nohup.out
secretkey.py